# torch==2.0.1        # CUDA: 2.0.1+cu117
# torchvision==0.15.2 # CUDA: 0.15.2+cu117
hydra-core==1.3.2
hydra-joblib-launcher
tqdm==4.65.0
opencv-python==4.8.0.74
dlib==19.24.2
mediapipe==0.10.2
scikit-learn
scipy==1.11.4
matplotlib
pandas
scikit-plot